
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Inscription</title>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css"/>
</head>
    <body background="../img/Day2.jpg" width="100%" height="100%" >
        <form th:object="${utilisateur}" method="post">
          <table>
          	   <tr class="tabletour">
		            <td><label for="login"><strong>Nom de compte :</strong></label></td>
		            <td><input type="text" th:field="*{pseudo}"/></td>
	           </tr>
	           <tr class="tabletour">
		            <td><label for="adress"><strong>Adresse mail :</strong></label></td>
		            <td><input type="text" th:field="*{email}"/></td>
	            </tr>
	            <tr class="tabletour">
		            <td><label for="pass"><strong>Mot de passe :</strong></label></td>
		            <td><input type="password" th:field="*{motDePasse}"/></td>
	            </tr>
	            <tr class="tabletour">
		            <td> <label for="pass2"><strong>Confirmez le mot de passe :</strong></label></td>
		            <td><input type="password" th:field="*{motDePasseConfirm}"/></td>
		        </tr>
          </table>
          <input type="submit" name="register" value="S'inscrire"/>
         <!--  <a href="Home.html" target="_blank"><input type="button" value="Retour au bercail"/> </a> -->
        </form>
    
    </body>
</html>